// Accent
$color__accent: #3f51b5;
$color__accent-light: #fbfbff;

// Grey Shades
$color__grey: #1a1a1a;
$color__grey-lighter: #555555;
$color__grey-more-lighter: #c4c4c4;
$color__grey-almost-white: #f0f0f0;

// System
$color__error: #f25555;
$color__error-light: #ffefef;

// DARK COLORS
// Accent
$color__dark__accent: #3f51b5;
$color__dark__accent-light: #fbfbff;

// Grey Shades
$color__dark__grey: #f0f0f0;
$color__dark__grey-darker: #828282;
$color__dark__grey-more-darker: #555555;
$color__dark__grey-almost-black: #1a1a1a;

// System
$color__dark__error: #f25555;
$color__dark__error-dark: #200404;
